/* Reusable modifications */
.full_line {
    width: 100%;
}

body {
    background-color: black;
}

.container {
    background-color: #8ee4af;
    color: #05386b;
    height: 100vh;
    overflow: auto;
}


#win_lose_text {
    color: #05386b;
}

#win_lose {
    background-color: #5cdb95;
}

#main_title {
    background-color: #5cdb95;
}

/* Hangman box mods */

.hangman {
    max-width: 100%;
    width: auto;
}

button {
    margin: .25rem;
}


/* Instructions and scoreboard mods */
#instructions,
#scoreboard {
    margin: 0 0 2rem;
    width: 100%;
}



/* Current words mods */
.active_row {
    width: 100%;
    margin: 0 0 .5rem;
}

#letters_guessed {
    font-size: 2rem;
}


@media screen and (max-width: 992px) {

    #score_correct,
    #score_wrong,
    #guesses_remaining_title,
    #letters_guessed_title {
        font-size: 1.25rem;
    }

    #word_progress,
    #letters_guessed,
    #guesses_remaining {
        font-size: 1rem;
    }

    #win_lose_text {
        font-size: 1.5rem;
    }
}