/* Reusable modifications */
.full_line {
    width: 100%;
}

body {
    background-color: black;
    color: white;
}


#win_lose_text {
    color: pink;
}

#win_lose {
    background-color: blue;
}

#main_title {
    background-color: maroon;
}

/* Hangman box mods */

.hangman {
    max-width: 100%;
    width: auto;
}



/* Instructions and scoreboard mods */
#instructions,
#scoreboard {
    margin: 0 0 2rem;
    width: 100%;
}



/* Current words mods */
.active_row {
    width: 100%;
    margin: 0 0 .5rem;
}

#letters_guessed {
    font-size: 2rem;
}