/* Reusable modifications */
.full_line {
    width: 100%;
}



/* Hangman box mods */
#hangman_box {}

.hangman {
    max-width: 100%;
    width: auto;
}



/* Instructions and scoreboard mods */
#instructions,
#scoreboard {
    border: 1px dashed purple;
    margin: 0 0 2rem;
    background-color: green;
    width: 100%;
}



/* Current words mods */
.active_row {
    background-color: purple;
    border: 1px dashed green;
    width: 100%;
    margin: 0 0 .5rem;
}

#letters_guessed {
    font-size: 2rem;
}